<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div>
    Dear <span th:text="${user.getUsername()}" userGameOrder.getUser().getUsername()
    //                + ", thank you for placing order. Your order number is "
    //                + userGameOrder.getPaymentProcessorChargeId()
</div>

</body>
</html>