<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div>
    <h2 class="page-header">Newsletter</h2>
    Hello <span th:text="${user.username}"></span>

</div>
</body>
</html>