<div style="height: 100%;">
  <div class="register mat-elevation-z12">
    <div class="register-header">
      <img src="assets/logoSmall.png">
    </div>
    <form [formGroup]="registerForm">
      <div class="register-content" >
        <input [formControlName]="'username'" placeholder="Name" type="text" name="name" />
        <input [formControlName]="'email'" placeholder="E-Mail" type="text" name="email" />
        <input [formControlName]="'password'" placeholder="Password" type="password" name="password" />
        <input [formControlName]="'confirmPassword'"  placeholder="Password (Confirm)" type="password" name="confirmPassword" />

        <button [disabled]="!registerForm.valid" (click)="register()">CREATE ACCOUNT</button>
        <p class="note">Already have an account?<br/> <a [routerLink]="['/login']">Sign in here</a></p>
      </div>
    </form>
  </div>
</div>
