<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <loading *ngIf="isUserRequestSent" [coverWholeScreen]="true"
               [useBiggerFontAwesomeSpinner]="true" [useFontAwesomeSpinner]="true"></loading>
      <md-tab-group [(selectedIndex)]="selectedTabIndex">
        <md-tab label="User Details">
          <div class="container" *ngIf="userDetailsTabActive()">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="page-header text-center">User Details</h1>

                <div class="text-right" *ngIf="!userEditMode">
                  <button class="btn btn-info" (click)="editUser()">
                    Edit
                  </button>
                </div>
                <div class="text-right" *ngIf="userEditMode">
                  <button class="btn btn-outline-success" (click)="saveEditUserChanges()">
                    Save
                  </button>
                  <button class="btn btn-outline-danger" (click)="cancelEditUserChanges()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab label="User Orders">
          <user-details-orders *ngIf="userOrdersTabActive()" [user]="user"></user-details-orders>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>
