<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <loading *ngIf="isUserRequestSent" [coverWholeScreen]="true"
               [useBiggerFontAwesomeSpinner]="true" [useFontAwesomeSpinner]="true"></loading>
      <md-tab-group [(selectedIndex)]="selectedTabIndex">
        <md-tab label="User Details">
          <div class="container" *ngIf="userDetailsTabActive()">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="page-header text-center">{{user.username}}</h1>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="/assets/images/user_profile_icon.png"
                           alt="" class="img-rounded img-fluid"/>
                    </div>
                    <div class="col-sm-7">
                      <blockquote>
                        <cite title="Source Title">{{user.printAuthorities()}}
                        </cite>
                      </blockquote>
                      <p><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}
                        <br/> <i class="fa fa-gift" aria-hidden="true"></i>Joined: {{user.createdAt*1000 |
                        date:'yMMMdjms'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab label="User Orders">
          <user-details-orders *ngIf="userOrdersTabActive()" [user]="user"></user-details-orders>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>
