<div *ngIf="shouldShowNavbar">
  <nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">GameIt!</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" (click)="goToHomeScreen()">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" (click)="goToGameListScreen()">Games</a>
        </li>
        <li class="nav-item"><a class="nav-link" (click)="goToContactUs()">Contact</a></li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav">
          <ng-container *ngIf="isUserLoggedIn">
            <li class="nav-item dropdown">
              <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user fa-1x"></i>{{getProfileTabTitle()}}
              </button>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <button class="dropdown-item" (click)="goToProfileScreen()"> <i class="fa fa-user fa-1x"></i>Profile</button>
                <button class="dropdown-item" (click)="goToShoppingCartScreen()">
                  <i class="fa fa-shopping-cart fa-1x"></i>Shopping Cart ({{getShoppingCartPrice() |
                  currency:'USD':true:'1.2-2'}})</button>
                <button class="dropdown-item" (click)="goToSellGameScreen()"><i class="fa fa-gamepad" aria-hidden="true"></i>Sell
                  games</button>
                <button class="dropdown-item" (click)="logout()"><i class="fa fa-power-off fa-1x"></i>Logout</button>
              </div>
            </li>
          </ng-container>
          <ng-container *ngIf="!isUserLoggedIn">
            <li class="nav-item"><a class="nav-link" (click)="goToRegisterScreen()">Register</a></li>
            <li class="nav-item"><a class="nav-link" (click)="goToLoginScreen()">Sign in</a></li>
          </ng-container>
        </ul>
      </form>
    </div>
  </nav>

</div>
