<div *ngIf="shouldShowNavbar">
  <nav class="navbar navbar-inverse navbar-toggleable-md bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">GameIt!</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" (click)="goToHomeScreen()">HOME</a>
        </li>
        <li class="nav-item"><a class="nav-link" (click)="goToGameListScreen()">GAMES LIST</a>
        </li>
        <li class="nav-item"><a class="nav-link" (click)="goToContactUs()">CONTACT US</a></li>
        <li *ngIf="isUserLoggedIn" class="nav-item">
          <a class="nav-link" (click)="goToProfileScreen()">
            <i class="fa fa-user fa-1x"></i>
            <p class="d-inline-block">{{getProfileTabTitle()}}</p>
          </a>
        </li>
        <li *ngIf="isUserLoggedIn" class="nav-item">
          <a class="nav-link" (click)="logout()">
            Logout
          </a>
        </li>
        <li *ngIf="!isUserLoggedIn" class="nav-item"><a class="nav-link" (click)="goToRegisterScreen()">JOIN</a></li>
        <li *ngIf="!isUserLoggedIn" class="nav-item"><a class="nav-link" (click)="goToLoginScreen()">SIGN IN</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>
