<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <loading *ngIf="isGameRequestSent || isGameEditInProgress"
               [coverWholeScreen]="true" [useFontAwesomeSpinner]="true" [useBiggerFontAwesomeSpinner]="true"></loading>
      <div *ngIf="game" class="mt-1">
        <h1 class=" text-center page-header">
          <input type="text" name="gameName" class="form-control" [(ngModel)]="game.name"/>
          <button class="btn btn-outline-success" (click)="saveEditGameChanges()">
            Save
          </button>
          <button class="btn btn-outline-danger" (click)="cancelEditingGame()">
            Cancel
          </button>
        </h1>
        <div>
          <img class="img-fluid" [src]="game.getPreviewImage()"/>
        </div>
        <div>
          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="well my-drop-zone">
            Base drop zone
          </div>
          <div class="col-md-12" style="margin-bottom: 40px">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

            <div>
              <div>
                Queue progress:
                <div class="progress" style="">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="gameDescription">Game Description</label>
            <textarea id="gameDescription" type="text" name="gameDescription" class="form-control"
                      [(ngModel)]="game.description"></textarea>
          </div>

          <div class="form-group">
            <label for="gamePrice">Game Price</label>
            <input id="gamePrice" type="text" name="gamePrice" class="form-control" [(ngModel)]="game.gamePrice"/>
          </div>

          <div class="form-group">
            <label for="gameDiscount">Game Discount Percent</label>
            <input id="gameDiscount" type="number" name="gameDiscount" class="form-control"
                   [(ngModel)]="game.discountPercent"/>
          </div>

          <div class="form-group">
            <label for="gameCategory">Game Category</label>
            <input id="gameCategory" type="text" name="gameCategory" class="form-control"
            [(ngModel)]="game.category"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
